<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/menu %>
    <div class="container-fluid bg-3 text-center">    
      <h3><%= page %></h3><br>
      <div class="row">
        <div class="col-sm-4">
          <p>WELCOME TO THIS WEBSITE!!!</p>      
        </div>
        <div class="col-sm-4"> 
          <p>I hope you like it.</p>
        </div>
        <div class="col-sm-4"> 
          <p>Thank you for coming here, hope you have a wonderful time.</p>
        </div>
      </div>
    </div>
    </body>

  </body>
  <% include partials/script %>
</html>
